---
import Main from '../layouts/Main.astro';
import underConstruction from '../assets/underConstruction.jpg';
import {Image} from "astro:assets";
---
<Main>
	<div class = "content">
		<h1 class = "title"> a collection of study guides for classes iv'e taken at rutgers. </h1>
	</div>
	<Image id = "sign" src = {underConstruction} alt = "" />
</Main>

<style>

	#sign{
		position:absolute;
		top:50px;
		left:50px;
		height:200px;
		width:200px;
	}
	.content{
        height:852px;
		overflow:hidden;
    }

	.title{
		font-family:var(--primaryFont);
        font-weight:400;
        font-size:140px;
		padding: 0 20px;
		width:1200px;
		position: relative;
		bottom:70px;

	}
</style>