---
import { Image } from "astro:assets";
import x from '../assets/icons/x.svg';

---
<div class = "navLinks">
    <ul>
        <li>
            <a class = "navItem" href = "/"> Home </a>
            <a class = "navItem" href = "/studyguides"> Study Guides </a>
            <a class = "navItem" href = "/about"> About </a>
            <Image id = "navItem" src = {x} alt = ""/> 

        </li>
    </ul>

</div>

<style>
   .navLinks{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   ul li{
    list-style:none;
    display: flex;

   }

   ul li a{
    text-decoration: none;
    color: var(--primaryColor);
    font-family:var(--primaryFont);
    font-weight:400;
    font-size:var(--text-xl);
    border: var(--border);
    padding:0 5px;
   }
</style>


<!-- ul li{
        list-style:none;
        display:flex;
        justify-content:center;
        align-items:center;
        gap:0.5em;
    }

    ul li a{
        text-decoration:none;
        color: var(--primaryColor);
        font-family:var(--primaryFont);
        font-weight:400;
        font-size:var(--text-xl);
        border: var(--border);
        padding:0 0.2em;


    } -->