---
import { Image } from "astro:assets";

import Arrows from '../components/Arrows.astro';
import Nav from '../components/Nav.astro';
import ClassNav from '../components/ClassNav.astro';
---

<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>

        <div class = "container">
            <nav>
                <Arrows/>
                
                <h1> sarai studies </h1>
                <Nav/>
              
            </nav>
            <div class = "content">
            </div>

            <ClassNav/>
        
	</body>
</html>

<style>
    @import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

    :root{
        --border: 1px solid black;
        --primaryFont: 'PT Serif', serif;
        --secondaryFont: None;
        --primaryColor: black;
        --secondaryColor: None;
        --text-body-size: 1em;
        /* type scale */
        --text-scale-ratio: 1.2;
        --text-xs: calc((1em / var(--text-scale-ratio)) / var(--text-scale-ratio));
        --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
        --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
        --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
        --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
        --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
        --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
        --text-title: min(10vmin, calc(6em + 6vmax));
        --text-heading: min(6vmin, calc(6em + 6vmax));
        --text-subheading: min(5vmin, calc(6em + 6vmax));
    }
    
   *{
        margin:0;
        padding:0; 
        box-sizing:border-box;
   }       

   
    body{
        margin:0;
        padding:0;
        min-height:100vh;
        min-height:100dvh;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .container{
        border:var(--border);
        height:942px;
        width:1353px;
    }
    .content{
        height:852px;
    }
    nav{
        border-bottom:var(--border);
        height:45px;
        width:100%;
        display:flex;
        align-items:center;
        justify-content:space-between;
        padding: 0 20px;
    }

    nav h1{
        font-family:var(--primaryFont);
        font-weight:400;
        font-size:var(--text-xl);
    }


    #navItem{
        border:var(--border);
   
    }



</style>